<h1>Activity</h1>
<h4>
  Id
  | Name
  | Distance
  | Time
  | Pace
</h4>
<% @activity_laps.each do |lap| %>
  <p>
    <%= lap["id"] %>
    | <%= lap["name"] %>
    | <%= conversion_helper("meters","miles",lap["distance"]) %> miles
    | <%= conversion_helper("seconds","minutes",lap["elapsed_time"]) %> minutes
    | <%= conversion_helper("mps","pace",lap["average_speed"]) %> pace
  </p>
<% end %>
