<h1>My Activities</h1>
<h4>
  Id
  | Date
  | Type
  | Name
  | Description
  | Distance (In meters)
  | Time (In seconds)
  | Elevation Gain
</h4>
<% @activities.each do |activity| %>
  <p>
    <%= activity["id"] %>
    | <%= activity["start_date_local"] %>
    | <%= activity["type"] %>
    | <%= activity["name"] %>
    | <%= activity["description"] %>
    | <%= activity["distance"] %>
    | <%= activity["elapsed_time"] %>
    | <%= activity["total_elevation_gain"] %>
    | <%= link_to "View", activity_path(activity["id"]) %>
  </p>
<% end %>
